{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %} - ArxivDigest Newsletter</title>
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'sidebars.css' %}" rel="stylesheet">
    
</head>
<body class="d-flex flex-column h-100">
    {% include "partials/_header.html" %}
    
    <div class="container">
        {% include "partials/_messages.html" %}
    </div>
    
    {% block content %}
    {% endblock %}
    
    {% include "partials/_footer.html" %}
    
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>