{% extends "base.html" %} 
{% load static %} 
{% load django_htmx %}
{% load widget_tweaks %} 

{% block title %} Home {% endblock %} 

{% block content %}
<div class="container text-center">
  <div class="py-5">
    <h1 class="display-5 fw-bold text-primary">Arxiv Digest's Newsletter</h1>
    <div class="col-md-8 mx-auto">
      <p class="fs-4 mb-4">
        Quickly design and customize responsive mobile-first sites with
        Bootstrap, the world's most popular front-end open source toolkit,
        featuring Sass variables and mixins.
      </p>
      <div class="">
        <form
          action="{% url 'accounts:subscribe' %}"
          method="post"
        >
          {% csrf_token %}
          <div class="input-group mb-3">
            {% render_field subscription_form.email class="form-control" placeholder="Email address" aria-describedby="button-addon2" %}
            <button
              class="btn btn-primary btn-lg"
              type="submit"
              id="button-addon2"
            >
              Subscribe
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="container"><hr class="fw-bold"/></div>

<div class="container">
  <div class="my-3">
    <h4 class="text-primary fw-bold my-3">Categories</h4>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3">
      {% for category in categories %}
      <div class="col">
        <div class="card shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
          <div class="card-body">
            <h4 class="card-title">{{ category.name|title }}</h4>
            <p class="card-text">Aliquid corporis facilis? Quos molestias eaque suscipit iure neque quod? Sint veniam accusantium laudantium perspiciatis vitae, provident eaque tempora quis ut dolor, nulla cum facere.</p>
            <hr/>
            <!-- Modal trigger for Category subsrciption -->
            <a 
              id="subscribe-button"
              href="#" 
              type="button" 
              class="link-dark link-offset-2 link-underline-opacity-0" 
              data-bs-toggle="modal"
              data-bs-target="#subscriptionModal"
              hx-get="{% url "newsletter:subscribe-modal" category.slug %}"
              hx-target="#subscribe-modal"
            >
              Subscribe
            </a>
            <hr/>
            <a href="#" class="link-dark link-offset-2 link-underline-opacity-0" >Read the Latest</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}