{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
Newsletters and Alerts
{% endblock %}

{% block content %}
    <div class="container">
        <div class="text-center mt-4">
            <h2 class="text-primary">Newsletters & Alerts</h2>
            <h5 class="text-muted">Get the best of Arxiv in your inbox</h5>
        </div>
        
        {% include 'newsletter/partials/_newsletters_form.html' %}
    </div>
    <div class="d-flex justify-content-center">
        <a href="#" class="btn btn-outline-primary rounded-0">Back to top</a>
    </div>
{% endblock %}