{% extends "base.html" %} 
{% load static %} 
{% load widget_tweaks %} 

{% block title %} Newsletters and Alerts {% endblock %} 

{% block content %}
<div class="container">
	<div class="text-center mt-4">
		<h2 class="text-primary">Newsletters & Alerts</h2>
		<h5 class="text-muted">Get the best of Arxiv in your inbox</h5>
	</div>

	{% if user.is_authenticated %}
	<div class="my-5" id="newsletter-header">
		{% if alerts %}
			{% include "alert/partials/_alert_list.html" %}
		{% else %}
			{% include "newsletter/partials/_newsletter_header.html" %}
		{% endif %}
	</div>
	{% endif %}
	<h3 class="text-primary">Newsletters</h3>
	<div id="newsletter-list">
		{% include 'newsletter/partials/_newsletter_list.html' %}
	</div>
</div>
{% include "alert/partials/_create_alert_modal.html" %}
{% endblock %}