{% extends "base.html" %}
{% load static %}

{% block title %}
Home
{% endblock %}

{% block content %}
    <div class="bg-primary text-white px-4 py-5 text-center">
        <div class="py-5">
          <h1 class="display-5 fw-bold">Email Verification</h1>
          <div class="col-md-8 mx-auto">
            <p class="fs-5 mb-4">A link has been sent to your email, click the link to verify your email.</p>
          </div>
        </div>
    </div>
    
    <div class="container text-primary py-3 py-md-5">
        <div class="text-center py-3">
            <h2>In the mean time -</h2>
            <h2>check this out</h2>
        </div>
        <div class="py-5">
            <h3>Trending...</h3>
            
            <div class="row row-cols-1 row-cols-md-2 g-3 my-3">
                <div class="col">
                    <div class="card shadow border-primary" >
                      <div class="card-body">
                        <h4 class="card-title">Primary card title</h4>
                        <p class="text-muted">January 1, 2021 by </p>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias cum neque minus, iure magnam natus, repellat necessitatibus quo dolor consectetur et quod culpa eum voluptatum, debitis odit, inventore. Aspernatur dolorem tempora quae, numquam iure voluptates! Voluptate dolorem recusandae maxime earum..</p>
                        <button class="btn btn-primary btn-lg">View</button>
                      </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow border-primary" >
                      <div class="card-body">
                        <h4 class="card-title">Primary card title</h4>
                        <p class="text-muted">January 1, 2021 by </p>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias cum neque minus, iure magnam natus, repellat necessitatibus quo dolor consectetur et quod culpa eum voluptatum, debitis odit, inventore. Aspernatur dolorem tempora quae, numquam iure voluptates! Voluptate dolorem recusandae maxime earum..</p>
                        <button class="btn btn-primary btn-lg">View</button>
                      </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow border-primary" >
                      <div class="card-body">
                        <h4 class="card-title">Primary card title</h4>
                        <p class="text-muted">January 1, 2021 by </p>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias cum neque minus, iure magnam natus, repellat necessitatibus quo dolor consectetur et quod culpa eum voluptatum, debitis odit, inventore. Aspernatur dolorem tempora quae, numquam iure voluptates! Voluptate dolorem recusandae maxime earum..</p>
                        <button class="btn btn-primary btn-lg">View</button>
                      </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow border-primary" >
                      <div class="card-body">
                        <h4 class="card-title">Primary card title</h4>
                        <p class="text-muted">January 1, 2021 by </p>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias cum neque minus, iure magnam natus, repellat necessitatibus quo dolor consectetur et quod culpa eum voluptatum, debitis odit, inventore. Aspernatur dolorem tempora quae, numquam iure voluptates! Voluptate dolorem recusandae maxime earum..</p>
                        <button class="btn btn-primary btn-lg">View</button>
                      </div>
                    </div>
                </div>
            </div>
            <div class="clearfix">
                
                <a href="#" class="btn btn-outline-primary text-primary btn-lg float-end">VIEW ALL</a>
            </div>
        </div>
    </div>
{% endblock %}