{% load static %}


    <nav class="navbar fixed-top bg-white" aria-label="Light offcanvas navbar">
        <div class="container-fluid m-lg-2">
          <a class="navbar-brand fw-bold text-primary" href="#">ArxivDigest</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbarLight" aria-controls="offcanvasNavbarLight" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end text-primary" tabindex="-1" id="offcanvasNavbarLight" aria-labelledby="offcanvasNavbarLightLabel">
            <div class="offcanvas-header">
              <h4 class="offcanvas-title" id="offcanvasNavbarLightLabel">Sections</h4>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <form class="d-flex mb-3" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-primary" type="submit">Search</button>
              </form>
                
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 list-unstyled ps-0">
                  <li class="mb-1">
                    <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
                      Home
                    </button>
                    <div class="collapse show" id="home-collapse">
                      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="#" class="link-body-primary d-inline-flex text-decoration-none rounded">Overview</a></li>
                        <li><a href="#" class="link-body-primary d-inline-flex text-decoration-none rounded">Updates</a></li>
                        <li><a href="#" class="link-body-primary d-inline-flex text-decoration-none rounded">Reports</a></li>
                      </ul>
                    </div>
                  </li>
                  <li class="mb-1">
                    <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#topics-collapse" aria-expanded="false">
                      Topics 
                    </button>
                    <div class="collapse" id="topics-collapse">
                      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        {% for topic in topics %}
                        {% if topic.is_leaf_node %}
                        <li><a href="{{ topic.get_absolute_url }}" class="link-body-primary d-inline-flex text-decoration-none rounded">{{ topic.name|title }}</a></li>
                        {% else %}
                        <li class="mb-1">
                            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#{{ topic.abbrv }}-collapse" aria-expanded="false">
                              {{ topic.name|title }} 
                            </button>
                            <div class="collapse" id="{{ topic.abbrv }}-collapse">
                              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                {% for subtopic in topic.get_children %}
                                {% if subtopic.is_leaf_node %}
                                <li><a href="{{ subtopic.get_absolute_url }}" class="link-body-primary d-inline-flex text-decoration-none rounded">{{ subtopic.name|title }}</a></li>
                                {% else %}
                                <li class="ps-3">
                                    <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#{{ subtopic.abbrv }}-collapse" aria-expanded="false">
                                      {{ subtopic.name|title }} 
                                    </button>
                                    <div class="collapse" id="{{ subtopic.abbrv }}-collapse">
                                      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                          {% for sub_subtopic in subtopic %}
                                          <li><a href="{{ sub_subtopic.get_absolute_url }}" class="link-body-primary d-inline-flex text-decoration-none rounded">{{ sub_subtopic.name|title }}</a></li>
                                          {% endfor %}
                                      </ul>
                                    </div>
                                </li>
                                {% endif %}
                                {% endfor %}
                              </ul>
                            </div>
                        </li>
                        {% endif %}
                        {% endfor %}
                        <li class="ps-3">
                            <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#subtopics-collapse" aria-expanded="false">
                              Subtopics 
                            </button>
                            <div class="collapse" id="subtopics-collapse">
                              <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><a href="#" class="link-body-primary d-inline-flex text-decoration-none rounded">Subtopic 1</a></li>
                                <li><a href="#" class="link-body-primary d-inline-flex text-decoration-none rounded">Subtopic 2</a></li>
                              </ul>
                            </div>
                            
                        </li>
                      </ul>
                    </div>
                  </li>
                  <li class="mb-1">
                    <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
                      Orders
                    </button>
                    <div class="collapse" id="orders-collapse">
                      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a href="#" class="link-body-primary d-inline-flex text-decoration-none rounded">New</a></li>
                        <li><a href="#" class="link-body-primary d-inline-flex text-decoration-none rounded">Processed</a></li>
                        <li><a href="#" class="link-body-primary d-inline-flex text-decoration-none rounded">Shipped</a></li>
                        <li><a href="#" class="link-body-primary d-inline-flex text-decoration-none rounded">Returned</a></li>
                      </ul>
                    </div>
                  </li>
                  <li class="border-top my-3"></li>
                  <li class="mb-1">
                    <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
                      Account
                    </button>
                    <div class="collapse" id="account-collapse">
                      <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small text-primary">
                        <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">New...</a></li>
                        <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Profile</a></li>
                        <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Settings</a></li>
                        <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Sign out</a></li>
                      </ul>
                    </div>
                  </li>
                </ul>
            </div>
          </div>
        </div>
    </nav>