{% load static %}
{% load django_htmx %}


<div class="row justify-content-center g-3 my-4 ">
	{% for topic in topics %}
	<div class="col-md-8">
		<div class="d-grid gap-2">
			<button
				type="button"
				hx-trigger="click"
				hx-get="{% url "newsletter:parent-topic" topic.id %}"
				hx-target="#subtopics-modal"
				class="btn btn-outline-primary btn-lg py-3 rounded rounded-5 "
			>
				{{ topic.name|title }}
			</button>
		</div>
	</div>
	{% endfor %}
</div>

<!-- Scrollable modal -->
<div id="modal" class="modal fade">
	<div id="subtopics-modal" class="modal-dialog modal-dialog-scrollable" hx-target="this"></div>
</div>