{% load static %}


{% for paper in papers %}

{% if forloop.last %}
<div class="col" hx-trigger="revealed" hx-get="{% url 'newsletter:home' %}?page={{ papers.number|add:1 }}" hx-swap="afterend" hx-target="this">
{% else %}
<div class="col">
{% endif %}
    <div class="card shadow border-primary">
        <div class="card-body">
        <h4 class="card-title">
            <a
            href=""
            class="link-offset-2 link-underline link-underline-opacity-0"
            >{{ paper.title }}</a
            >
        </h4>
        {% comment %} <p class="text-muted">January 1, 2021 by</p> {% endcomment %}
        <p class="card-text">
            Lorem ipsum dolor sit amet, tetur et quod culpa eum voluptatum,
            debitis odit, inventore. Aspernatur dolorem tempora quae, numquam
            iure voluptates! Voluptate dolorem recusandae maxime earum..
        </p>
        <div id="categories">
            {% for cat in paper.topics.all %}
            <a href="{{ cat.get_absolute_url }}"><span class="badge bg-primary">{{ cat.name }}</span></a>
            {% endfor %}
        </div>
        </div>
    </div>
</div>
{% endfor %}
