{% load static %}
{% load django_htmx %}


{% for paper in papers %}

{% if forloop.last and papers.has_next %}
<div class="col" hx-trigger="revealed" hx-get=".?page={{ papers.number|add:1 }}" hx-swap="afterend" hx-target="this">
{% else %}
<div class="col">
{% endif %}
    <div class="card shadow border-primary">
        <div class="card-body">
            <h5 class="card-title">
                <a
                href="{{ paper.get_absolute_url }}"
                class="link-offset-2 link-underline link-underline-opacity-0"
                >{{ paper.title }}</a
                >
            </h5>
            <p class="text-muted">By <span class="fw-bold">{{ paper.authors|title }}</span></p>
            <p class="card-text mt-3">
                Lorem ipsum dolor sit amet, tetur et quod culpa eum voluptatum,
                debitis odit, inventore. Aspernatur dolorem tempora quae, numquam
                iure voluptates! Voluptate dolorem recusandae maxime earum..
            </p>
            <div id="categories">
                {% for cat in paper.topics.all %}
                <a href="{{ cat.get_absolute_url }}"><span class="badge bg-primary">{{ cat.name }}</span></a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endfor %}
