{% extends "base.html" %}
{% load i18n %}
{% load allauth %}

{% block title %}
    {% trans "Signup" %}
{% endblock title %}

{% block content %}
<div class="container">
    <div class="row justify-content-center my-5">
        <div class="col col-md-9 col-lg-6">
            <div class="card py-4 px-md-3 shadow">
                <div class="card-body text-center">
                    <h3 class='card-title fw-bold'>{% trans "Sign Up" %}</h3>
                    <p>
                        {% blocktrans with provider_name=account.get_provider.name site_name=site.name %}You are about to use your {{provider_name}} account to login to
                        {{site_name}}. As a final step, please complete the following form:{% endblocktrans %}
                    </p>
                    {% url 'socialaccount_signup' as action_url %}
                    {% element form form=form method="post" action=action_url %}
                        {% slot body %}
                            {% csrf_token %}
                            {% element fields form=form unlabeled=True %}
                            {% endelement %}
                            {% if redirect_field_value %}
                                <input type="hidden"
                                       name="{{ redirect_field_name }}"
                                       value="{{ redirect_field_value }}" />
                            {% endif %}
                        {% endslot %}
                        {% slot actions %}
                            <button class="btn btn-primary">{% trans "Sign Up" %}</button>
                        {% endslot %}
                    {% endelement %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}