{% extends 'base.html' %}
{% load static %}

{% block title %}
Password reset complete
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center my-5">
        <div class="col col-md-9 col-lg-6">
            <div class="card py-4 px-md-3 shadow">
                <div class="card-body">
                    <h4 class='card-title fw-bold'>Password reset complete</h4>
                    <h6 class="card-subtitle mb-4 text-body-secondary">You have successfully reset your password.</h6>
                    <div class="d-grid">
                        <a href="{% url 'accounts:login' %}" class="btn btn-primary btn-lg rounded rounded-5">Now Sign In</a>
                    </div>
                </div>
            </div>
            <div class="my-3 text-center">
                <p class="fw-semibold">New to ArxivDigest?<a href="{% url 'accounts:register' %}"> Join now</a></p>
            </div>
        </div>
    </div> 
    
{% endblock %}

