{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
Change password 
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center my-5">
        <div class="col col-md-9 col-lg-6">
            <div class="card py-4 px-md-3 shadow">
                <div class="card-body">
                    <h4 class='card-title fw-bold'>Change password</h4>
                    <h6 class="card-subtitle mb-4 text-body-secondary">Set new password.</h6>
                    <form action="{% url 'accounts:password_reset' %}" method="post">
                        {% csrf_token %}
                        {% for field in form %}
                        <div class="mb-3">
                            {% render_field field class="form-control" placeholder=field.label %}
                        </div>
                        {% endfor %}
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary btn-lg rounded rounded-5">Change password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div> 
    
{% endblock %}

